.chat-body {
    opacity: 1;
    display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	user-select: none;
    
}

* {
    padding: 0;
    margin: 0;
    border: 0;
	font-family: sans-serif;
}


.chat-body .chat-content {
    width: 350px;
    height: 256px;
    background: #00000099;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    opacity: 1;
    display: block;
    scrollbar-color: #ffffff5c #80000000;
    border-radius: 10px 0 0 0;
    box-sizing: border-box;
}

.chat-item {
    display: flex;
    padding: 0px;
    flex-direction: column;
}

.chat-item .chat-sender {
    width: 100%;
    text-align: left;
    color: wheat;
    font-size: 14px;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
}

.chat-item .chat-message {
    width: 100%;
    text-align: left;
    color: #ede3d0;
    padding-left: 10px;
    font-size: 13px;
    line-height: 20px;
}

.chat-input {
    width: 350px;
    height: 44px;
    background: #f3f3f3;
}

.chat-input input {
    width: 350px;
    height: 44px;
    background: #f3f3f3;
    padding-left: 10px;
    box-sizing: border-box;
}

.chat-body button {
    background-image: url('https://gtd.namdorado.com/image/send.png');
    height: 44px;
    width: 44px;
    float: right;
    top: -44px;
    position: relative;
    background-color: transparent;
}

.errorMessage {
	width: 400px;
	height: 40px;
	color: white;
	display: none;
	justify-content: center;
	align-items: center;
	font-family: cursive;
	letter-spacing: 2px;
	background: orange;
	border-radius: 10px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}


.disconnect-message {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}

.toggle-chat {
    transition: .2s;
}

.toggle-chat:active {
    background: #eee;
    transform: scale(1.07)
}
